<div class="row gy-2 d-flex justify-content-center p-2">
  <div class="col-12 col-lg-6 order-2 order-lg-1">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">User details</h5>
        <div class="card-subtitle py-1">
          Last connection date:
          <span class="text-primary">
            {{
              user.LastConnection
                ? (user.LastConnection | date: "YYYY/MM/dd HH:mm")
                : "USER NEVER CONNECTED"
            }}
          </span>
        </div>
      </div>

      <div class="card-body">
        <div class="card-text d-block">
          <div class="row gy-2">
            <!-- First name -->
            <div class="col-lg-12">
              <div class="input-group">
                <span class="input-group-text">First name</span>
                <input
                  type="text"
                  id="FName"
                  class="form-control {{
                    errors && errors['Firstname'] ? 'is-invalid' : ''
                  }}"
                  [disabled]="editUser === false"
                  placeholder="{{
                    errors && errors['Firstname']
                      ? 'First name is required !'
                      : 'Type first name here ...'
                  }}"
                  [(ngModel)]="user.Firstname"
                />
              </div>
            </div>

            <!-- Last name -->
            <div class="col-lg-12">
              <div class="input-group">
                <span class="input-group-text">Last name</span>
                <input
                  type="text"
                  [disabled]="editUser === false"
                  class="form-control {{
                    errors && errors['Lastname'] ? 'is-invalid' : ''
                  }}"
                  placeholder="{{
                    errors && errors['Lastname']
                      ? 'First name is required !'
                      : 'Type last name here ...'
                  }}"
                  [(ngModel)]="user.Lastname"
                />
              </div>
            </div>

            <!-- Birthdate -->
            <div class="col-lg-12">
              <div class="input-group">
                <span class="input-group-text">Birdthdate</span>
                <input
                  type="date"
                  [disabled]="editUser === false"
                  class="form-control {{
                    errors && errors['Birthdate'] ? 'is-invalid' : ''
                  }}"
                  placeholder="{{
                    errors && errors['Birthdate']
                      ? 'Birthdate is required !'
                      : 'Type birthdate here ...'
                  }}"
                  [(ngModel)]="user.Birthdate"
                />
              </div>
            </div>

            <!-- Skills -->
            <div class="col-12">
              <div class="input-group">
                <span class="input-group-text">Skills</span>
                <input
                  type="text"
                  class="form-control dropdown-toggle {{
                    errors && errors['Skills'] ? 'is-invalid' : ''
                  }}"
                  [disabled]="
                    editUser === false ||
                    (userSkills.data && userSkills.data.length >= 10)
                  "
                  placeholder="{{
                    errors && errors['Skills']
                      ? errors['Skills']
                      : editUser === false
                      ? ''
                      : 'Type here the skill ...'
                  }}"
                  data-bs-toggle="dropdown"
                  id="DDMenuSkills"
                  autocomplete="off"
                  autocomplete="new-password"
                  (input)="getSkills()"
                  [(ngModel)]="userSkills.txt"
                  (blur)="SelectSkill()"
                />
                <ul
                  class="dropdown-menu shadow {{
                    skills.length > 0 ? '' : 'd-none'
                  }}"
                  aria-labelledby="DDMenuSkills"
                >
                  <li
                    *ngFor="let skill of skills.slice(0, 5)"
                    (click)="SelectSkill(skill)"
                  >
                    <a class="dropdown-item">{{ skill.Name }}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div
              style="min-height: 25px; /* max-height: 200px */"
              class="col-12"
            >
              <div *ngIf="userSkills.data && userSkills.data.length > 0">
                <button
                  type="button"
                  *ngFor="let skill of userSkills.data"
                  class="btn btn-primary btn-sm m-1"
                  (click)="editUser ? RemoveSkill(skill) : null"
                >
                  {{ skill.Name }}
                  <span *ngIf="editUser" class="badge bg-danger rounded-pill">
                    <i class="mdi mdi-close"></i>
                  </span>
                </button>
              </div>
            </div>

            <!-- Department -->
            <div class="col-lg-12">
              <div class="input-group">
                <span class="input-group-text">Department</span>
                <input
                  type="text"
                  [disabled]="editUser === false"
                  class="form-control dropdown-toggle {{
                    errors && errors['Department'] ? 'is-invalid' : ''
                  }}"
                  placeholder="{{
                    errors && errors['Department']
                      ? 'Department is required !'
                      : 'Type department here ...'
                  }}"
                  [(ngModel)]="userDepartment.txt"
                  data-bs-toggle="dropdown"
                  id="DDMenuDepartment"
                  autocomplete="off"
                  autocomplete="new-password"
                  (input)="FilterDepartments()"
                  (blur)="SetFirstDepartment()"
                />
                <ul
                  class="dropdown-menu shadow {{
                    departments.length > 0 ? '' : 'd-none'
                  }}"
                  aria-labelledby="DDMenuDepartment"
                >
                  <li
                    *ngFor="let department of departments.slice(0, 5)"
                    (click)="
                      userDepartment.data = department;
                      userDepartment.txt = department.Name
                    "
                  >
                    <a class="dropdown-item">{{ department.Name }}</a>
                  </li>
                </ul>
              </div>
            </div>

            <!-- Country -->
            <div class="col-lg-12">
              <div class="input-group">
                <span class="input-group-text">Country</span>
                <input
                  type="text"
                  [disabled]="editUser === false"
                  class="form-control dropdown-toggle {{
                    errors && errors['Country'] ? 'is-invalid' : ''
                  }}"
                  placeholder="{{
                    errors && errors['Country']
                      ? 'Country is required !'
                      : 'Type country here ...'
                  }}"
                  [(ngModel)]="userCountry.txt"
                  data-bs-toggle="dropdown"
                  id="DDMenuCountries"
                  autocomplete="off"
                  autocomplete="new-password"
                  (input)="FilterCountries()"
                  (blur)="SetFirstCountry()"
                />
                <ul
                  class="dropdown-menu shadow {{
                    countries.length > 0 ? '' : 'd-none'
                  }}"
                  aria-labelledby="DDMenuCountries"
                >
                  <li
                    *ngFor="let country of countries.slice(0, 5)"
                    (click)="
                      userCountry.data = country; userCountry.txt = country.Name
                    "
                  >
                    <a class="dropdown-item">{{ country.Name }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Card Actions -->
      <div class="card-footer text-muted">
        <!-- Edit , Cancel & Save btns -->
        <div class="col-lg-12">
          <div class="row justify-content-between">
            <!-- Edit user -->
            <div class="col-auto" *ngIf="editUser === false">
              <button
                type="button"
                class="btn btn-primary"
                (click)="EditUser()"
              >
                <i class="mdi mdi-account-edit-outline"></i>
                Edit user
              </button>
            </div>

            <!-- Cancel -->
            <div class="col-auto" *ngIf="editUser === true">
              <button
                type="button"
                class="btn btn-danger"
                (click)="CancelEdit()"
              >
                <i class="mdi mdi-close"></i>
                Cancel
              </button>
            </div>
            <!-- Save -->
            <div class="col-auto" *ngIf="editUser === true">
              <button
                type="button"
                class="btn btn-success"
                (click)="SaveUser()"
              >
                <i class="mdi mdi-content-save-outline"></i>
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Profile complition Graph -->
  <div class="col-12 col-lg-6 order-1 order-lg-2">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Profile completion</h5>
      </div>
      <div echarts [options]="options"></div>
    </div>
  </div>
</div>
