<div class="row d-flex justify-content-center">
  <div class="col-12 col-md-10">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <!-- Firstname -->
          <div class="col-4">
            <div class="input-group input-group-sm">
              <span class="input-group-text">
                <i class="mdi mdi-filter-outline"></i>
                Filter by
              </span>
              <input
                type="text"
                id="FName"
                class="form-control"
                placeholder="First name"
                [(ngModel)]="filters.Firstname"
                (input)="FilterUsers()"
              />
            </div>
          </div>

          <!-- Lastname -->
          <div class="col-4">
            <div class="input-group input-group-sm">
              <span class="input-group-text">
                <i class="mdi mdi-filter-outline"></i>
                Filter by
              </span>
              <input
                type="text"
                id="FName"
                class="form-control"
                placeholder="Last name"
                [(ngModel)]="filters.Lastname"
                (input)="FilterUsers()"
              />
            </div>
          </div>

          <!-- AlreadyConnected -->
          <div class="col-4 d-flex align-items-center">
            <div class="form-check form-switch mt-1">
              <input
                type="checkbox"
                class="form-check-input"
                id="flexSwitchCheckChecked"
                [(ngModel)]="filters.AlreadyConnected"
                (change)="FilterUsers()"
              />
              <label class="form-check-label" for="flexSwitchCheckChecked">
                Already connected
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="card-text table-responsive tableFixHead">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">First name</th>
                <th scope="col" (click)="orderByLN()">
                  Last name
                  <i
                    class="mdi mdi-arrow-up me-1 {{
                      sort.by === 'LN'
                        ? sort.ascend
                          ? 'order up'
                          : 'order down'
                        : ''
                    }}"
                  ></i>
                </th>
                <th scope="col" (click)="orderByLC()">
                  Last connection date
                  <i
                    class="mdi mdi-arrow-up me-1 {{
                      sort.by === 'LC'
                        ? sort.ascend
                          ? 'order up'
                          : 'order down'
                        : ''
                    }}"
                  ></i>
                </th>
              </tr>
            </thead>
            <tbody *ngIf="users.length > 0">
              <tr
                *ngFor="let user of users"
                [routerLink]="['/peoples/', user.Id, 'detail']"
              >
                <td>{{ user.Firstname }}</td>
                <td>{{ user.Lastname }}</td>
                <td>
                  {{
                    user.LastConnectionDate
                      ? (user.LastConnectionDate | date: "YYYY/MM/dd HH:mm")
                      : "USER NEVER CONNECTED"
                  }}
                </td>
              </tr>
            </tbody>
            <tbody
              class="no-data"
              *ngIf="
                users.length === 0 &&
                (filters.Lastname + filters.Firstname).trim().length > 0
              "
            >
              <td class="text-center" colspan="3" style="padding-top: 2rem">
                No matching records found
              </td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
