.tableFixHead {
  overflow: auto;
  height: calc(100vh - 210px);
  table.table {
    border-collapse: collapse;
    width: 100%;
    thead {
      border: none;
      tr {
        background-color: white;
        position: sticky;
        top: 0;
        z-index: 1;
        box-shadow: 0 2px 20px -9px blue;
        th {
          border-bottom: 0;
          cursor: pointer;
          i {
            display: inline-block;
            transition: all 0.3s;
            color: gray;
            font-size: 14px;
            &.order {
              color: blue;
            }
            &.down {
              transform: rotate(180deg);
            }
            &.up {
              transform: rotate(0deg);
            }
          }
        }
      }
    }
    tbody {
      border-top: 0;
      tr:hover {
        background-color: #eee;
        cursor: pointer;
      }
      &.no-data {
        color: rgba(0, 0, 0, 0.38);
        .searchKey{
          background-color: white;
          color: blue;
          font-style: italic;
          box-shadow: 0 0 3px 0 blue;
        }
        tr:hover {
          background-color: white;
        }
      }
    }
    th,
    td {
      padding: 8px 16px;
      white-space: nowrap;
    }
  }
}
