:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

aside.position-fixed.d-flex.flex-column {
  overflow-y: auto;
  background-color: #fff;
  transition: left 0.5s;
  ul {
    padding-bottom: 100px;
    .nav-link {
      display: flex;
      align-content: center;
      align-items: center;

      i {
        font-size: 28px;
        margin-right: 10px;
      }
    }
  }
}

main.container-fluid {
  transition: all 0.5s;
  margin-top: 50px;
  max-width: 100%;
  max-height: calc(100vh - 50px);
  overflow-x: auto;
}

// xs
@media (max-width: 575px) {
  aside.position-fixed.d-flex.flex-column {
    z-index: 1040 !important;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    &.sideBar-closed {
      left: -100vw;
    }
    &.sideBar-opened {
      left: 0;
    }
  }

  main.container-fluid.sideBar-closed {
    padding-bottom: 50px;
  }
}
// sm lg {
@media (min-width: 576px) {
  aside.position-fixed.d-flex.flex-column {
    z-index: 1040 !important;
    width: 250px;
    height: 100%;
    top: 50px;
    left: 0;
    bottom: 0;
    &.sideBar-closed {
      left: -250px;
    }
    &.sideBar-opened {
      left: 0;
    }
  }

  main.container-fluid {
    &.sideBar-closed {
      margin-left: 0;
      width: 100%;
    }
    &.sideBar-opened {
      margin-left: 250px;
      width: calc(100% - 250px);
    }
  }
}
// md sm lg
@media (min-width: 768px) {
  main.container-fluid {
    padding-top: 15px;
    padding-bottom: 50px;
  }
}

div.floating-btn {
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1041;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  background-color: white;
  box-shadow: 0 0 20px -9px blue;
  color: #0d6efd;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: all 0.3s;
}
