<header class="navbar navbar navbar-light bg-light fixed-top shadow p-1">
  <div class="container-fluid">
    <div class="col-2 d-flex align-items-center justify-content-between">
      <a routerLink="/" class="navbar-brand mb-0 text-decoration-none">
        <img
          src="https://media-exp1.licdn.com/dms/image/C560BAQFb6I2xQRVrHw/company-logo_200_200/0/1519880323200?e=2159024400&v=beta&t=vf337zsOaWVAM-bx1MzmA5nRy6Bu-rhVxEAD8Q-Eim0"
          alt="logo"
          width="32"
          height="32"
          class="rounded-circle"
        />
      </a>
    </div>

    <div class="col-auto"></div>

    <div class="dropdown text-end">
      <a routerLink="/profile" class="d-block link-dark text-decoration-none">
        {{ user.fname + " " + user.lname }}
      </a>
    </div>
  </div>
</header>

<aside
  class="position-fixed d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sideBar-{{
    ShowNav ? 'opened' : 'closed'
  }}"
>
  <ul class="nav nav-pills flex-column">
    <li>
      <a
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        class="nav-link text-white"
      >
        <i class="mdi mdi-finance"></i>
        Dashboard
      </a>
    </li>
    <li>
      <a
        routerLink="/peoples"
        routerLinkActive="active"
        class="nav-link text-white"
      >
        <i class="mdi mdi-account-group-outline"></i>
        Peoples
      </a>
    </li>
    <li>
      <a
        routerLink="/skills"
        routerLinkActive="active"
        class="nav-link text-white"
      >
        <i class="mdi mdi-book-education-outline"></i>
        Skills
      </a>
    </li>
    <li>
      <a
        routerLink="/departments"
        routerLinkActive="active"
        class="nav-link text-white"
      >
        <i class="mdi mdi-office-building-outline"></i>
        Departments
      </a>
    </li>
  </ul>
</aside>

<main [class]="'container-fluid sideBar-' + (ShowNav ? 'opened' : 'closed')">
  <router-outlet></router-outlet>
</main>

<div
  class="floating-btn"
  (click)="ToggleSideBar()"
  [style.transform]="'rotate(' + (ShowNav ? 0 : 180) + 'deg)'"
>
  <i
    class="mdi mdi-{{ ShowNav ? 'menu-open' : 'backburger' }}"
    style="font-size: 26px"
  ></i>
</div>
