/* You can add global styles to this file, and also import other style files */
@import "~@mdi/font/css/materialdesignicons.min.css";

html {
  background-color: #f5f7fa;
}
main,
body {
  background-color: transparent !important;
}
